<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Indian Safari</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="center">
        <h1>Indian Safari</h1>
        <hr>
        <a href="/nationalparks"><button id="hello">Start</button></a>
    </div>
    
</body>
</html>