<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add National Park</title>
</head>
<body>
    <h1>Add New park</h1>
    <form action="/nationalparks" method="POST">
        <div>
            <label for="title">Name</label>
            <input type="text" name="title" id="title">

            <label for="location">Location (State)</label>
            <input type="text" name="location" id="location" placeholder="Mumbai (MH)">
        </div>
        <br>
        <div>
            <label for="entry">Entry fee</label>
            <input type="text" id="entry" name="entry">
        </div>
        <br>
        <div>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="5"></textarea>
        </div>
        <button>Submit</button>
    </form>
    <a href="/nationalparks">All National Parks</a>
</body>
</html>