<% layout(('/layouts/boilerplate.ejs')) %> 
    <div class="row">
        <h1 class="text-center mb-5">New National Park</h1>
        <div class="col-6 offset-3">
            <form action="/nationalparks" method="POST">
                <div>
                    <div class="mb-3">
                        <label class="form-label" for="title">Name</label>
                        <input class="form-control" type="text" name="title" id="title">
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="location">Location (State)</label>
                            <input class="form-control" type="text" name="location" id="location" placeholder="Mumbai (MH)">
                        </div>
                        <div class="col">
                            <label class="form-label" for="entry">Entry fee</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">₹</div>
                                </div>
                                <input type="number" class="form-control" id="entry" name="entry" placeholder="00">
                              </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Image URL</label>
                        <input class="form-control" type="text" id="image" name="image">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary mb-3">Submit</button>
            </form>
            <a class="btn btn-dark" href="/nationalparks">All National Parks</a>
        </div>
        
    </div>
    
